<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://127.0.0.1:5000/static/css/devices.min.css" rel="stylesheet" >
    <meta charset="utf-8">
</head>
<body class="text-center">

<div class="marvel-device note8">
    <div class="inner"></div>
    <div class="overflow">
        <div class="shadow"></div>
    </div>
    <div class="speaker"></div>
    <div class="sensors"></div>
    <div class="more-sensors"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="screen">
        {% set device = 'phone' %}

        {% if type == "blog" %}
            {% include 'mockupApp/templates/mockups/designs/blog.html' %}
        {% else %}
            {% include 'mockupApp/templates/mockups/designs/ecommerce.html' %}
        {% endif %}
    </div>
</div>





</body>
</html>
